/*
#1 color = #519ABA;
#2 color = #b8383d;
*/

a:hover,
a:focus {
	color: #519ABA;
}

.circled {
	background: #519ABA;
}

.con1>div,
.con2>div,
.con3>div {
	background-color: #519ABA;
}

.scrollup:hover {
	background: #519ABA;
}


/* button */
.btn-skin {
	background-color: #519ABA;
	border-color: #519ABA;
}


/* menu */

.navbar-custom ul.nav ul.dropdown-menu li a:hover {
	color: #b8383d;
}

.navbar-custom.top-nav-collapse .nav li a:hover,
.navbar-custom .nav li a:hover,
.navbar-custom .nav li.active a,
.navbar-custom.top-nav-collapse .nav li.active a {
	color: #b8383d;
}



.bg-skin {
	background: #519ABA;
}

.highlight-color {
	background-color: #519ABA;
}

.color {
	color: #519ABA;
}

.form-control:focus {
	border-color: #b8383d;
}